.app-todo{
    width: 60%;
    height: 15%;
    min-height: 90px;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    background-color: #f67c3f;
    box-shadow:1px 1px #eb824e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    &__title{
        text-align: center;
        cursor: pointer;
        width: 40%;
    }

    &__is-complete{
        display: flex;
        justify-content: center;
        width: 30%;

        &__complete{
           // background-color: 
        }

        &__incomplete{
            // background-color: 
         }
    }

    &__delete{
        display: flex;
        justify-content: center;
        width: 30%;

        &__button{

            &:hover{
                background-color: white !important;
                color:red !important;
            }
        }
    }
}