@import "../../styles/colors";

.app-todos-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 64px;
  background-color: $background-color;

  &__buttons {
    width: 80%;
    margin-left: 10%;
    padding: 1% 0;
    display: flex;
    justify-content: space-around;

    &__reset {
      background-color: $background-color !important;
      font-size: 1.5vh !important;
      padding: 1% !important;

      &:hover {
        background-color: $accent2-color !important;
        color: $background-color !important;
      }
    }

    &__create {
      background-color: $background-color !important;
      font-size: 1.5vh !important;
      padding: 1% !important;

      &:hover {
        background-color: $accent2-color !important;
        color: $background-color !important;
      }
    }

    &__del-rand {
      background-color: $background-color !important;
      font-size: 1.5vh !important;
      padding: 1% !important;

      &:hover {
        background-color: $delete-color !important;
        color: $background-color !important;
      }
    }
  }

  &__counter {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
  }
}
.app-todos {
  height: 93%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: $background-color;
}
